<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://localhost:35729/livereload.js"></script>
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!-- Navigation bar (header) -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/}" th:text="'Dashboard of ' + ${#authentication.principal.firstName}">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/profile}" >View Profile</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/change-password}">Change Password</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/search}">Search</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/notifications}">Notifications</a></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div class="container mt-5 mb-5">

        <!-- Password change form -->
        <form th:action="@{/change-password}" method="post">
			<div th:if="${changePasswordError}" class="alert alert-danger" role="alert">
        		<p th:text="${changePasswordError}"></p>
    		</div>
            <div class="form-group">
                <label for="currentPassword">Current Password:</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required />
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" required />
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm New Password:</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and jQuery (make sure to include them after Bootstrap CSS) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
        <!-- Footer -->
    <footer class="bg-dark text-white py-2 fixed-bottom">
        <div class="container text-center">
            <p>&copy; 2023 UMS. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>